@model NADD.Models.Area

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Area</h2>

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeArea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeArea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AreaId" class="btn btn-success">Editar Area</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
